#dov{
    display:flex;
    justify-content: center;
}
section{
    min-height:100vh;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

            pimenta a gosto<br>
            2 colheres(sopa) de maionese<br>
            1/2 copo de ketchup<br>
             1 caixa de creme de leite<br>
            1 cebola picadasal a gosto<br>
            1 colher de manteiga ou margarina<br>
            1 colher(chá) de mostarda<br>
            1 copo ou sachê de cogumelosbsp<br>
            batata palha a gosto<br>