#dov{
    display:flex;
    justify-content: center;
}
section{
    min-height:100vh;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    background-color:chocolate;
    height: 80px;
}